@import "compass/css3";

//$blueprint-font-family: Alegreya, Palatino, Georgia, serif;
//$blueprint-fixed-font-family: 'Source Code Pro', monospace;
$blueprint-font-family: 'Lora', serif;
$blueprint-fixed-font-family: "andale mono", "lucida console", monospace;
$blueprint-font-size: 22px;

@import "blueprint";
@import "blueprint/reset";
@import "blueprint/grid";

body {
  padding-top: 2em;
  @include blueprint-typography(true);

  h1 {
    font-size: 38px;
  }
}

.about {
  @include column(8);
  text-align: center;

  .links {
    a {
      @include inline-block;
    }
  }

  font-size: 14px;
}

article {
  @include column(16);

  time {
    color: $quiet-color;
  }
}

.highlight {
  overflow-y: auto;
  padding: 0 21px;
  @include border-radius(9px);
  margin: 0 0 1.5em;
  font-size: 14px;
}
