<!DOCTYPE html>
<head>
  <link href='/css/style.css' rel='stylesheet' type='text/css' />
  <link href='/css/monokai.css' rel='stylesheet' type='text/css' />
  <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css' />
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css' />
  <link href='http://fonts.googleapis.com/css?family=Six+Caps' rel='stylesheet' type='text/css' />
  <link href='http://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css' />
  <!-- %link(href='/css/screen.css' media='screen, projection' rel='stylesheet' type='text/css') -->
  <!-- %link(href='/css/print.css' media='print' rel='stylesheet' type='text/css') -->
  <!--[if lt IE 8]>
    <!-- %link(href='/css/ie.css' media='screen, projection' rel='stylesheet' type='text/css') -->
  <![endif]-->
</head>
<body>
  <div class='about'>
    <h4>Jonathan Baudanza</h4>
    San Francisco, CA
    <div class='links'>
      <a href='https://github.com/jbaudanza'>
        github
      </a>
      <a href='https://twitter.com/jbaudanza'>
        twitter
      </a>
      <a href='http://www.beatlab.com/jbaudanza'>
        beatlab
      </a>
    </div>
  </div>
  <article>
    <h1>
      {{page.title}}
    </h1>
    <time datetime='{{page.date}}'>
      {{page.date|date:'%h %d, %Y'}}
    </time>
    <a class='hn-share-button' href='http://news.ycombinator.com/submit'>
      Vote on HN
    </a>
    {{content}}
  </article>
  <script type='text/javascript'>
    //<![CDATA[
      (function(d, t) {
          var g = d.createElement(t),
              s = d.getElementsByTagName(t)[0];
          g.src = '//hnbutton.appspot.com/static/hn.js';
          s.parentNode.insertBefore(g, s);
      }(document, 'script'));
    //]]>
  </script>
</body>
